@import url('https://fonts.googleapis.com/css2?family=Bruno+Ace&family=Passero+One&display=swap');

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;

}

:root {
    --font-titulos: 'Passero One', sans-serif;
    --font-parrafos: 'Bruno Ace', sans-serif;
}

.background {
    /* background-color: #3F2443; */
    height: 96vh;
    background: #0f0c29;
    /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #24243e, #302b63, #0f0c29);
    /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #24243e, #302b63, #0f0c29);
    /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */


}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1.6rem 2rem;
}

header .titleHeader {
    font-family: var(--font-titulos);
    font-size: 26px;
    /* color: #FDFFFA; */
    color: #DD0556;
    /* color: rgb(175, 247, 104); */
    z-index: 999;
    text-decoration: none;
}

header .titleHeader:hover {
    animation: bgTitle 4s ease-in-out normal;
}

@keyframes bgTitle {
    0% {
        color: #DD0556;
    }

    100% {
        color: #e70659;
    }
}

header nav {
    display: none;
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    /* background-color: #4c2750; */
    /* background-color: #46294b; */
    background: #0f0c29;
    /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #24243e, #302b63, #0f0c29c0);
    /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #24243e, #302b63, #0f0c29cb);
    /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    animation: pantalla 1s ease alternate;
    z-index: 998;
}

@keyframes pantalla {

    0% {
        left: 100%;
    }

    100% {
        height: 100%;
    }

}

header nav.active {
    display: block;
    top: 4rem;
    padding: 2rem 2rem;
}

header nav ul {
    display: flex;
    flex-direction: column;
    justify-content: start;
    height: 100%;
    gap: 1rem;
}

header nav ul li {
    list-style: none;
}

header nav ul li a {
    font-family: var(--font-parrafos);
    color: #FDFFFA;
    /* color: #3F2443; */
    font-size: 1.4rem;
    text-decoration: none;
}

header nav ul li a:hover {
    /* color: #a864b4; */
    color: #DD0556;
}

/* header .hamburger {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-direction: column;
    width: 22px;
    height: 22px;
    cursor: pointer;
    z-index: 1000;
}

header .hamburger div {
    width: 16px;
    height: 2px;
    background-color: #DD0556;
} */

/* PRUEBA */

.hamburger {
    width: 22px;
    height: 22px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    cursor: pointer;
    z-index: 1000;
    transition: transform 0.5s ease;
}

.one,
.two,
.three {
    width: 16px;
    height: 2px;
    background-color: #DD0556;
    transition: transform 0.5s ease, opacity 0.5s ease;
}

.active .one {
    /* transform: rotate(45deg) translate(1px, 7px); */
    transform: rotate(45deg) translate(1px, 4px);
}

.active .two {
    opacity: 0;
}

.active .three {
    /* transform: rotate(-45deg) translate(1px, -8px); */
    transform: rotate(-45deg) translate(4px, -8px);
}

/* END PRUEBA */

/* END HEADER */

/* START MAIN */

.conteinerMain {
    padding: 2rem 2rem;
    /* background-color: #a864b4; */
    display: flex;
    justify-content: center;
    align-items: center;
}

.conteinerMain .boxOne {
    display: flex;
    flex-direction: column;
    width: 50%;
}

.conteinerMain .boxOne .titleMain {
    font-family: var(--font-titulos);
    color: #DD0556;
    font-size: 3.2rem;
    z-index: 1;
}

.conteinerMain .boxOne .parrafoMain {
    font-family: var(--font-parrafos);
    color: #FDFFFA;
    margin-top: .8rem;
    margin-left: 1rem;
}

.conteinerMain .boxOne .btnMain {
    background-color: #DD0556;
    padding: .6rem 2rem;
    font-family: var(--font-parrafos);
    color: white;
    border: 1px solid transparent;
    width: max-content;
    border-radius: 4px;
    margin-left: 1.8rem;
    margin-top: 1rem;
    text-decoration: none;
}

.conteinerMain .boxOne .btnMain:hover {
    border: 1px solid #DD0556;
    background-color: #dd055441;
    transition: 1s;
}

.conteinerMain .boxOne .spanOne {
    color: #DD0556;
    font-family: var(--font-parrafos);
}

.conteinerMain .boxOne .parrafoMainSecondary {
    font-family: var(--font-parrafos);
    /* color: #fdfffa67; */
    color: #fdfffa50;
    line-height: 1.6rem;
    margin-left: 1.4rem;
    margin-top: .8rem;
}

.conteinerMain .imgBackground {
    background-image: url(../img/slider-img.png);
    background-repeat: no-repeat;
    background-size: cover;
    height: 400px;
    width: 50%;
    border-radius: 260px;
}



/* SERVICES */

.boxServices {
    background: #0f0c29;
    /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #24243e, #302b63, #0f0c29);
    /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #24243e, #302b63, #0f0c29);
    /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    padding: 2rem 2rem;
    border-top: 1px solid #DD0556
}

.boxServices h2 {
    font-family: var(--font-titulos);
    color: #DD0556;
    padding: 1rem 0;
    font-size: 26px;
}

.boxServices ul li {
    position: relative;
    list-style: none;
    font-family: var(--font-parrafos);
    color: #FDFFFA;
    font-size: .860rem;
    padding: 0 2rem;
    margin-bottom: 6px;
}

.boxServices ul li::before {
    content: "•";

    color: #DD0556;

    position: absolute;

    left: 12px;

}

.boxServices p {
    font-family: var(--font-parrafos);
    color: #cfcfcfc2;
    font-size: .960rem;
    margin-top: 1.4rem;

}




@media only screen and (max-width: 1000px) {

    .background {

        overflow: hidden;
    }

    header {
        padding: 1rem 1rem;
    }

    header nav.active {
        padding: 2rem 1rem;
    }

    .conteinerMain {
        flex-direction: column;
        gap: 2rem;
        padding: 2rem 1rem;
        justify-content: start;
        align-items: start;
    }

    .conteinerMain .boxOne {
        width: 100%;
    }

    .conteinerMain .boxOne .titleMain {
        font-size: 2.2rem;
    }

    .conteinerMain .boxOne .parrafoMain {
        font-size: .830rem;
        margin-left: 0;
    }

    .conteinerMain .boxOne .parrafoMainSecondary {
        font-size: .830rem;
        margin-left: 0;
    }

    .conteinerMain .boxOne .btnMain {
        margin-left: 0;
        padding: .480rem 2rem;
    }

    .conteinerMain .imgBackground {
        background-position: center;
        border-radius: 60px;
        width: 100%;
        height: 320px;
    }

    .boxServices {
        padding: 1rem 1rem;
    }

}